.recaptcha-container {
    transform: scale(1.27);
    transform-origin: left;
    width: 100%;
  }

  .recaptcha-container > div {
    width: 100% !important;
  }
  
  @media (max-width: 768px) {
    .recaptcha-container {
      transform: scale(1.2);
      height: 70px;
    }
  }
  